[submodule "projects/Calculadora-IMC"]
	path = projects/Calculadora-IMC
	url = https://github.com/Rhuan-Ribeiro/Calculadora-IMC.git
[submodule "projects/Weather-app"]
	path = projects/Weather-app
	url = https://github.com/Rhuan-Ribeiro/Weather-App
[submodule "projects/QR-Code"]
	path = projects/QR-Code
	url = https://github.com/Rhuan-Ribeiro/QR-Code
